

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, HelloWeb.MessageLive.FormComponent,
    id: @message.id,
    title: @page_title,
    action: @live_action,
    message: @message,
    return_to: Routes.message_show_path(@socket, :show, @message) %>
<% end %>

<div class="mx-4">
    <h4 class="text-lg mb-3"><%= @message.subject %></h4>
    <p class="border p-2"><%= @message.content %></p>
</div>

<a class="link" href="">Reply</a>
