<h1>New Thread</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.board_thread_path(@conn, :create, @board_id)) %>

<span><%= link "Back", to: Routes.board_thread_path(@conn, :index, @board_id) %></span>
